body {
    background-color: black;
    font-family: "PT Serif", serif;
}

.navbar {
    background-color: transparent !important;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.navbar.alt-color {
    background-color: transparent !important;

}

#navbar-nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: aliceblue;

}

.navbar-toggler {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.navbar-nav a {
    color: aliceblue;
}

.navbar-brand {
    color: aliceblue;
}

.quien_somos h1 {
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
}

.destacados h1 {
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
}

.cards {
    background-color: black;
}

.card-body p {
    color: aliceblue;
    font-size: 15px;
}

.quien_somos {
    background-color: black;
}

.card-texto {
    color: aliceblue;
}

.card-body {
    background-color: aqua;
}

.card-title {
    font-size: 30px;
    text-align: center;
}

.card-text {
    font-size: 16px;
    text-align: center;
}

.form-label {
    color: white;
    font-size: 20px;
}

.footer h1 {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}

.bg-info {
    color: #17A2B8;
}